.procedure-container {
    background-color: #efefef;
    padding: 60px 40px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.procedure-title {
    font-size: 32px;
    color: #216b4a;
    margin-top: 40px;
    font-weight:bold;
}

.procedure-subtitle {
    font-size: 18px;
    color: #9d9d9d;
    margin-top: 10px;
}

.step-buttons {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.step {
    text-align: center;
}

.step-label {
    font-size: 24px;
    color: #9d9d9d;
    margin-bottom: 10px;
    font-weight:bold;
}

.step-button {
    background-color: #216b4a;
    border: none;
    border-radius: 14px;
    padding: 30px 40px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    line-height: 1.5;
    height:200px;
    width:300px;
}

.step-button span {
    font-weight: normal;
    font-size: 16px;
}
.step-button:hover {
    background-color: #237550;
    transform: translateY(-2px);
}
