{% extends "layout.html" %}
{% block content %}
{% include '/cheatsheet_modal.html' %}
<div class="container py-5 px-4 px-lg-5 mt-5">
    <div class="row">
        <div class="col play-column">
        <!-- <div class="table-container"> -->
            <div class="player north">
                <img src="/static/avatars/avatar_n.png">
                <div class="tiles hidden"></div>
            </div>
            <div class="player west">
                <img src="/static/avatars/avatar_w.png">
                <div class="tiles hidden"></div>
            </div>
            <div class="player east">
                <img src="/static/avatars/avatar_e.png">
                <div class="tiles hidden"></div>
            </div>
            <div class="player south you">
                <!-- <div class="tiles" id="player-hand"></div> -->
                 <!-- Bottom: Your Hand & Label -->
                <div class="tile-row mb-2" id="player-hand"></div>
                <div class="player-info">
                    <span>     </span>
                    <img src="/static/avatars/avatar_s.png">
                    <span class="text-white bold">You</span>
                </div>
            </div>

            <div class="center">
                <div class="discard-info">
                    <div id="discard-message"></div>
                    <img class="tile discard" style="display: none;">
                </div>
                <div id="message-box"></div>
            </div>

            <div class="discardbox dis_north">
                <div id="discard-N" class="discard-row"></div>
            </div>
            <div class="discardbox dis_south">
                <div id="discard-S" class="discard-row"></div>
            </div>
            <div class="discardbox dis_west">
                <div id="discard-W" class="discard-row"></div>
            </div>
            <div class="discardbox dis_east">
                <div id="discard-E" class="discard-row"></div>
            </div>
            

        <!-- </div> -->
        </div>

        <!-- Right: Operation Buttons -->
        <div class="col">
            <div class="options">
            </div>
        </div>

        <!-- Stirke System -->
        <div id="quiz-status" class="mt-4">
            <div style="display: flex; align-items: center;">
                <div id="strike-container">
                    <span class="strike">✘</span>
                    <span class="strike">✘</span>
                    <span class="strike">✘</span>
                </div>
                <div id="strike-message" class="ms-3 text-danger"></div>
            </div>
            <div id="feedback-message" class="mt-2 text-success"></div>
        </div>
        

    </div>
</div>

<script>
    const questionId = {{ question_id }};
</script>
<script src="{{ url_for('static', filename='quiz.js') }}"></script>
<script src="{{ url_for('static', filename='cheatsheet_modal.js') }}" defer></script>
{% endblock %}