{% extends "layout.html" %}
{% block content %}

<div class="container py-5 px-4 px-lg-5 mt-5">
    <div class="table-container">
        <div class="player north">
            <img src="/static/avatar_n.png">
            <div class="tiles hidden"></div>
            <div class="label">N</div>
        </div>
        <div class="player west">
            <img src="/static/avatar_w.png">
            <div class="tiles hidden"></div>
            <div class="label">W</div>
        </div>
        <div class="player east">
            <img src="/static/avatar_e.png">
            <div class="tiles hidden"></div>
            <div class="label">E</div>
        </div>
        <div class="player south you">
            <img src="/static/avatar_you.png">
            <div class="tiles" id="player-hand"></div>
            <div class="label">S - You</div>
        </div>

        <div class="center">
            <div class="discard-info">
                <img class="tile discard" style="display: none;">
                <p></p> 
            </div>
            <div class="options">
            </div>
            <div id="message-box"></div>
        </div>


        <script src="{{ url_for('static', filename='quiz.js') }}"></script>
</div>

{% endblock %}